.PatView
{
    margin-left: 5%;
    margin-top: 1%;
    /* border: 2px solid red; */
}
.serachTab
{
    text-align: center;
}
.search
{
    width: 500px;
    /* border: 2px solid red; */
    padding-right: 10px;
}
.clearfix {
    position:fixed;
    margin-top: 20%;
    display: block;
    text-align: center;
    top:52%;
    right:40%;
    left: 35%;
    font-size: 14px;
    /* border: 2px solid red; */
  }