.roww
{
    gap:10px;
    display: flex;
    /* margin-top: 1%; */
    /* margin-bottom: 5px; */
}
mat-form-field
{
    width: 100%;
}
.action
{
 margin-left: 6%;
}
.actions
{
    width: 300px !important;
    text-align: center;
}