
*{
    box-sizing: border-box;
    margin: 0%;
    padding: 0%;
}
mat-card
{
    width:50%;
    height:40%;
    margin: auto;
    margin-top:14%;
    padding: 30px;
    position: fixed;
    margin-left:-350px;
    /* border: 5px solid red; */
}
.actions
{
    width: 40% !important;
    padding: 10px !important;
    /* border:2px solid red; */
    margin-left: 31%;
}
.formMain
{
    background-color:#3f51b5;
    width: 100%;
    height: 100%;
    
   
}
.subform
{
 background-image: url("http://localhost/side.png");
 /* border: 5px solid red; */
 background-position: right;
 background-size:cover;
 margin-left: 50%;
 width: 50%;
 height: 100%;
 background-repeat: no-repeat;
 background-position-x: center;
}
